google              NA
pandas              1.5.3
plotly              5.15.0
session_info        1.0.0
streamlit           1.27.0
-----
Click to view modules imported as dependencies
-----
IPython             7.34.0
jupyter_client      6.1.12
jupyter_core        5.3.1
notebook            6.5.5
-----
Python 3.10.12 (main, Jun 11 2023, 05:26:28) [GCC 11.4.0]
Linux-5.15.120+-x86_64-with-glibc2.35
